.viewing-order {
  margin-left: 80px;
  margin-right: 80px;
  padding-bottom: 40px;
}

.order-head {
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: "Merriweather", serif;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
  color: rgb(36, 36, 36);
}

.order-head-para {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  color: rgb(71, 70, 70);
}

.order-h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: "Merriweather", serif;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  color: rgb(36, 36, 36);
}

.order-ul {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: rgb(71, 70, 70);
}
