.news-list {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
  /* gap: 10px; */
}

.column {
  width: 31.5%;
}

.card-container {
  margin-bottom: 20px;
}
