.movie {
    margin-top: 20px;
}

.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 30px;
  gap: 30px;
}

.movies-list .movie-card {
  flex: 1 1 calc(33.33% - 20px);
  box-sizing: border-box;
  margin-bottom: 30px;
}

span {
    font-size: 40px;
    font-weight: bold;
}

.movie-heads {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
}

hr {
  width: 60%;
}